*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 23px;
    font-size: 42px;
    position: fixed;
    top:0px;
    left:0px;
    background-color: white;
    border-bottom: solid 26px #e5e5e5;
}
header ion-icon{
    cursor: pointer;
}
header img{
    height: 53px;
    width: 75px;
}
strong{
    font-weight: 700;
}

span{
    color:#aaaaaa;
    font-weight: 400;
}

.conteudo{
    width: 100%;
    margin-bottom: 80px;
    background-color: #e5e5e5;
}

.mensagens{
    width: 100%;
    min-height: 40px;
    margin-bottom: 4px;
    border-radius: 2px;
    font-size: 14px;
    padding: 14px 9px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.barrafinal{
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: white;
}
.barrafinal input{
    width:70%;
    height:30px;
    font-size: 18px;
    font-weight: 400;
    border: none;
}
.barrafinal input::placeholder{
    color: black;
    font-style: italic;
}


.telainicial{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.telainicial img{
    width: 130px;
    height: 92px;
    margin-bottom: 94px;
}
.telainicial input{
    height: 54px;
    width: 261px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
}
.telainicial button{
    height: 45px;
    width: 109px;
    border-radius: 9px;
    background-color: #E7E7E7;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #696969;
    border: none;
}
.status{
    background-color: #DCDCDC;
}
.message{
    background-color:#ffffff ;
}
.private_message{
    background-color: #FFDEDE;
}
.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    height: 110px;
    font-size: 20px;
}
.loading img{
    width: 150px;
    height: 150px;
    animation:girar 4s infinite linear;
    margin-bottom: 30px;
}
@keyframes girar{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
.hidden{
    display: none;
}

.filtroPreto{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    background-color: black;
    opacity: 50%;
}
.listaUsuarios{
    height: 100%;
    width: 70%;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
    font-size: 16px;
    padding: 25px 25px 10px 18px;
    background-color: white;
    text-align: center;
    overflow:auto;
}
.feedParticipantes{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    word-break: break-all;
}
.barrafinal ion-icon{
    cursor: pointer;
}
.pessoas{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.pessoas ion-icon{
    height: 25px;
    width: 25px;
    margin-right: 8px;
}
p{
    cursor: pointer;
    font-weight: 400;
    margin-right: 20%;
}
.icone ion icon{
    color:#28BB25;
}
.barrafinal span{
    font-size: 14px;
    font-weight: 300;
}
.publico{
    margin-top: 10px;
}